---
import Layout2 from "../layouts/LayoutIframe.astro";
---

<Layout2>
<div class="p-4">
  <div>
    <!-- Iframe -->
    <iframe 
      name="speciesFrame" 
      src="/species/Adelie" 
      class="w-full border rounded-lg" 
      id="speciesFrame"
      style="width: 100%; border: none;"
    >
    </iframe>
  </div>
</div>
</Layout2>

<script>
  const iframe = document.getElementById("speciesFrame") as HTMLIFrameElement;

  // Redimensionnement automatique
  iframe.addEventListener("load", () => {
    try {
      iframe.style.height = iframe.contentWindow?.document.body.scrollHeight + "px";
    } catch {}
  });

  // Changer la page affichée via JS
  iframe.src = "/species/Adelie";
</script>
